ALTER TABLE culture RENAME INDEX id_parcelle TO IDX_B6A99CEB95B5C063;
DROP INDEX user_id ON face_images;
ALTER TABLE face_images CHANGE id id INT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE parcelle CHANGE localisation localisation VARCHAR(150) NOT NULL, CHANGE etat etat VARCHAR(50) NOT NULL, CHANGE id_user id_user INT NOT NULL;
ALTER TABLE parcelle ADD CONSTRAINT FK_C56E2CF66B3CA4B FOREIGN KEY (id_user) REFERENCES utilisateur (id_user);
ALTER TABLE parcelle RENAME INDEX id_user TO IDX_C56E2CF66B3CA4B;
ALTER TABLE produit CHANGE id_produit id_produit INT NOT NULL, CHANGE type type VARCHAR(50) NOT NULL, CHANGE unite unite VARCHAR(20) NOT NULL, CHANGE prix_unitaire prix_unitaire DOUBLE PRECISION NOT NULL, CHANGE id_user id_user INT NOT NULL;
ALTER TABLE recolte CHANGE id_recolte id_recolte INT NOT NULL, CHANGE date_recolte date_recolte DATE NOT NULL, CHANGE qualite qualite VARCHAR(50) NOT NULL, CHANGE type_culture type_culture VARCHAR(100) NOT NULL, CHANGE localisation localisation VARCHAR(150) NOT NULL, CHANGE id_user id_user INT NOT NULL;
ALTER TABLE recolte ADD CONSTRAINT FK_3433713C6834359B FOREIGN KEY (id_culture) REFERENCES culture (id_culture) ON DELETE CASCADE;
ALTER TABLE recolte RENAME INDEX id_culture TO IDX_3433713C6834359B;
DROP INDEX idx_type_culture ON recolte_archive;
DROP INDEX idx_cause_supression ON recolte_archive;
DROP INDEX idx_date_archivage ON recolte_archive;
DROP INDEX id_recolte_original ON recolte_archive;
ALTER TABLE recolte_archive CHANGE id_archive id_archive INT NOT NULL, CHANGE date_recolte date_recolte DATE NOT NULL, CHANGE qualite qualite VARCHAR(100) NOT NULL, CHANGE type_culture type_culture VARCHAR(100) NOT NULL, CHANGE localisation localisation VARCHAR(100) NOT NULL, CHANGE id_user id_user INT NOT NULL;
DROP INDEX id_recolte ON rendement;
ALTER TABLE rendement CHANGE id_rendement id_rendement INT NOT NULL;
ALTER TABLE soil_analysis CHANGE id id BIGINT NOT NULL, CHANGE latitude latitude DOUBLE PRECISION NOT NULL, CHANGE longitude longitude DOUBLE PRECISION NOT NULL, CHANGE ph ph DOUBLE PRECISION NOT NULL, CHANGE sand_percent sand_percent DOUBLE PRECISION NOT NULL, CHANGE silt_percent silt_percent DOUBLE PRECISION NOT NULL, CHANGE clay_percent clay_percent DOUBLE PRECISION NOT NULL, CHANGE nitrogen nitrogen DOUBLE PRECISION NOT NULL, CHANGE phosphorus phosphorus DOUBLE PRECISION NOT NULL, CHANGE potassium potassium DOUBLE PRECISION NOT NULL, CHANGE organic_carbon organic_carbon DOUBLE PRECISION NOT NULL, CHANGE source source VARCHAR(128) NOT NULL, CHANGE collected_at collected_at DATETIME NOT NULL, CHANGE sand sand DOUBLE PRECISION NOT NULL, CHANGE clay clay DOUBLE PRECISION NOT NULL, CHANGE silt silt DOUBLE PRECISION NOT NULL, CHANGE organic_matter organic_matter DOUBLE PRECISION NOT NULL, CHANGE cation_exchange_capacity cation_exchange_capacity DOUBLE PRECISION NOT NULL, CHANGE soil_type soil_type VARCHAR(100) NOT NULL;
ALTER TABLE stock CHANGE id_stock id_stock INT NOT NULL, CHANGE date_entree date_entree DATE NOT NULL, CHANGE date_expiration date_expiration DATE NOT NULL, CHANGE id_user id_user INT NOT NULL;
ALTER TABLE stock ADD CONSTRAINT FK_4B365660F7384557 FOREIGN KEY (id_produit) REFERENCES produit (id_produit) ON DELETE CASCADE;
ALTER TABLE stock RENAME INDEX id_produit TO IDX_4B365660F7384557;
DROP INDEX uk_user_badge ON user_badge;
ALTER TABLE user_badge CHANGE id id INT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
DROP INDEX email ON utilisateur;
ALTER TABLE utilisateur CHANGE id_user id_user INT NOT NULL, CHANGE statut statut TINYINT(1) NOT NULL, CHANGE date_creation date_creation DATE NOT NULL, CHANGE face_image_path face_image_path VARCHAR(255) NOT NULL, CHANGE id_agriculteur id_agriculteur INT NOT NULL;
DROP INDEX id_user ON utilisateur_badge;
DROP INDEX id_badge ON utilisateur_badge;
ALTER TABLE utilisateur_badge CHANGE id id INT NOT NULL;
ALTER TABLE vente CHANGE id_vente id_vente INT NOT NULL, CHANGE date_vente date_vente DATE NOT NULL, CHANGE montant_total montant_total DOUBLE PRECISION NOT NULL;
ALTER TABLE vente ADD CONSTRAINT FK_888A2A4CE173B1B8 FOREIGN KEY (id_client) REFERENCES client (id_client) ON DELETE CASCADE;
ALTER TABLE vente ADD CONSTRAINT FK_888A2A4C6B3CA4B FOREIGN KEY (id_user) REFERENCES utilisateur (id_user) ON DELETE CASCADE;
ALTER TABLE vente RENAME INDEX id_client TO IDX_888A2A4CE173B1B8;
ALTER TABLE vente RENAME INDEX id_user TO IDX_888A2A4C6B3CA4B;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
